<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <img src="../../../assets/img/logo-200.png" height="35">
        </ion-buttons>
      <ion-title>চাকুরীর খবর</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>
        <div *ngFor="let result of resultsJob">
          <ion-card (click)=goToSource(result.link)>
            <ion-card-header>
              <!-- <ion-badge>অর্থনীতি</ion-badge> -->
              <img *ngIf="result.fimg_url;"  src="{{result.fimg_url}}" />
              <img *ngIf="!result.fimg_url" src="assets/img/news_fallback.png" />
              <ion-card-subtitle color="dark" class="sectionTitle" *ngIf="result.title.rendered"
                [innerHtml]="result.title.rendered">
              </ion-card-subtitle>
            </ion-card-header>
            <img *ngIf="result.categories['0']=='531'" class="sourceLogoAllCategory"
              src="/assets/img/news-source-icons/prothom-alo.png" />
            
          </ion-card>
        </div>
        <ion-infinite-scroll threshold="85%" (ionInfinite)="loadAllJobNews($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-list>

</ion-content>
