<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <img src="../../../assets/img/logo-200.png" height="35" />
    </ion-buttons>
    <ion-title>উৎস</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img class="logos" src="../../../assets/img/news-source-icons/Bangla_Tribune_logo.png"/>
          <ion-card-header>
            <ion-card-subtitle>Bangla Tribune</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>

          <img class="logos" src="../../../assets/img/news-source-icons/bbc.png"/>
          <ion-card-header>
            <ion-card-subtitle>BBC</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>

          <img class="logos" src="../../../assets/img/news-source-icons/bdnews24-logo.png"/>
          <ion-card-header>
            <ion-card-subtitle>Bdnews24</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>

          <img class="logos" src="../../../assets/img/news-source-icons/daily-star.svg"/>
          <ion-card-header>
            <ion-card-subtitle>The Daily Star</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img class="logos" src="../../../assets/img/news-source-icons/jugantor.png"/>
          <ion-card-header>
            <ion-card-subtitle>Jugantor</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img class="logos" src="../../../assets/img/news-source-icons/prothom-alo.png"/>
          <ion-card-header>
            <ion-card-subtitle>Prothom Alo</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img class="logos" src="../../../assets/img/news-source-icons/somokal.png"/>
          <ion-card-header>
            <ion-card-subtitle>Somokal</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img class="logos" src="../../../assets/img/news-source-icons/tt-logo.png"/>
          <ion-card-header>
            <ion-card-subtitle>Techtunes</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img class="logos" src="../../../assets/img/news-source-icons/The_Washington_Post_logo_newspaper.png"/>
          <ion-card-header>
            <ion-card-subtitle>The Washington Post</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img class="logos" src="../../../assets/img/news-source-icons/banglanews_logo.jpg"/>
          <ion-card-header>
            <ion-card-subtitle>Banglanews24</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img class="logos" src="../../../assets/img/news-source-icons/Bengal-Beats-Logo.png"/>
          <ion-card-header>
            <ion-card-subtitle>Bengal Beats</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>