<ion-header>

</ion-header>

<ion-content>
  <div id="ID5">
    <svg class="gdrt">
      <pattern elementId="gdrt_A4_Rectangle_27" id="gdrt_A4_Rectangle_27_pattern" x="0" y="0" width="100%" height="100%">
        <image x="0" y="0" width="100%" height="100%" href="assets/img/gdrt_A4_Rectangle_27_pattern.png" xlink:href="gdrt_A4_Rectangle_27_pattern.png"></image>
      </pattern>
      <rect id="gdrt" rx="0" ry="0" x="0" y="0" width="375.5" height="812">
      </rect>
    </svg>
  
    <svg class="Rectangle_2195" >
      <rect id="Rectangle_2195" rx="8" ry="8" x="0" y="0" width="302" height="55.79">
      </rect>
    </svg>
    <svg class="facebook_button_area" (click)="facebookLogin()">
      <rect id="facebook_button_area" rx="8" ry="8" x="0" y="0" width="302" height="55.79">
      </rect>
    </svg>
    <div id="facebook_login" (click)="facebookLogin()">
      <span>ফেসবুক সাইন-ইন</span>
    </div>
    <div id="google_signin">
      <span>গুগল সাইন-ইন</span>
    </div> 
    <div id="____________________">
      <span style="">সবার<br/>আগে<br/></span><span style="color:rgba(227,203,154,1);">" সব খবর "</span><span style=""> </span>
    </div>
    <div id="______________________________">
      <span>আপনার সোশ্যাল একাউন্ট অথবা গুগল একাউন্ট দিয়ে লগইন  এর মাধ্যমে উপভোগ করুন <br/>সব খবর । </span>
    </div>
    <svg class="Rectangle_2250">
      <rect id="Rectangle_2250" rx="0" ry="0" x="0" y="0" width="35" height="2">
      </rect>
    </svg>
  </div>
 
</ion-content>
