<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <img src="../../../assets/img/logo-200.png" height="35">
    </ion-buttons>
    <ion-title>অ্যাপ সম্পর্কিত তথ্য</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info"><img src="assets/img/dream-diver.png" alt="dream diver" />
    <p style="text-align: center; ">অ্যাপ টি একটি <span style="font-weight:600;">"ড্রিম ডাইভার"</span> কোম্পানির পণ্য<br>
      Westerbeekstraat 10B, 3074 DH Rotterdam
      <br>Netherlands
      <br>contact@dreamdiver.nl
      <br>www.dreamdiver.nl
    </p>
    <p style="text-align: center;"></p>
    <p style="text-align: center; font-weight:600;margin-bottom: 0em;">অ্যাপ ভার্সন</p>
    <p class="versionNumber" style="text-align: center; margin-top: 0em;">1.5.5</p>
  </div>
</ion-content>