ion-title {
  text-align: left !important;
  padding: 12px;
  font-weight: 700;
  font-size: 1.5em;
}

ion-toolbar {
  --background: #fe8c00;
}

.about-toolbar {
  color: black;
}

.info {
  margin-top: 6em;

}

.info img {

  display: block;
  margin: 0 auto;
  height: 6em;
}

.versionNumber {
  font-weight: 400;
  font-size: 0.8em;
}

ion-content {
  --ion-background-color: linear-gradient(to right, #f83600, #fe8c00);
}