.thumnails{
  overflow-x: scroll;
  overflow-y: hidden;
}

.img-thumb{
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  // width: 40%;
  // height: 50px;
  margin:0 0.5em 0 0; 
  // line-height: 60px;
}
.list-thumbnail{
	height: 100%;
	white-space: nowrap;

}
.suggestedNews{
	background-color:#fff8ed;
}
ion-toolbar {
    /*--background: #fe8c00;*/
    --background:#fff8ed;
}
ion-content {
    /*--background: #424242;*/
    // --background:#f1f1f1
}
#segment{
	--background: #fabc5a1b;
}
.newpaperLogo{
	margin-top: 0.5em;
}

.tv-logo{
	margin: 0 auto;
	height: 6em;
}

.newpaperHeader{
	padding: 0 0 1em 0.2em;
}

ion-segment-button {
	border: none;
	font-weight: 900;
	font-size: 0.8em;
	--indicator-color-checked: #fcb13c;
	--color-activated: #fcb13c;
	--color-checked: #fcb13c;
  }