<ion-header>
	<ion-toolbar>
		<ion-row>
			<ion-col size="6">
				<ion-title>Amader TV</ion-title>
			</ion-col>
		</ion-row>

	</ion-toolbar>
</ion-header>
<ion-toolbar id="segment">
	<ion-button color="danger" expand="full" (click)=getUpdate()>Software Update</ion-button>
	<!--   <ion-segment (ionChange)="segmentChanged($event)" value="1" scrollable>
    <ion-segment-button value="1" id="1">
      <ion-label><b>Bangla</b></ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" id="2">
      <ion-label><b>India</b></ion-label>
    </ion-segment-button>
    <ion-segment-button value="3" id="3">
      <ion-label><b>Sports</b></ion-label>
    </ion-segment-button>
  </ion-segment> -->
</ion-toolbar>

<!-- <ion-content id="ionContentLive" (swipeleft)="swipeLeftPress($event)" (swiperight)="swipeRightPress($event)"> -->
<ion-content id="ionContentLive" class="container">

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-item-divider class="ion-no-padding">
					<ion-text color="dark">
						<h4>Bangladeshi Channels:</h4>
					</ion-text>
				</ion-item-divider>
				<ion-item class="ion-no-padding">
					<div class="thumnails">
						<div class="list-thumbnail">
							<div class="img-thumb" *ngFor="let c of tvChannels" (click)="goToChannel(c.url)">
								<img src="{{c.logo}}" class="tv-logo">
							</div>
						</div>
					</div>
				</ion-item>
			</ion-col>
		</ion-row>


		<ion-row>
			<ion-col>
				<ion-item-divider class="ion-no-padding">
					<ion-text color="dark">
						<h4>Bangladeshi Channels:(Outside Bangladesh)</h4>
					</ion-text>
				</ion-item-divider>
				<ion-item class="ion-no-padding">
					<div class="thumnails">
						<div class="list-thumbnail">
							<div class="img-thumb" *ngFor="let c of tvChannelsOutsideBD" (click)="goToChannel(c.url,"outside")">
								<img src="{{c.logo}}" class="tv-logo">
							</div>
						</div>
					</div>
				</ion-item>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<ion-item-divider class="ion-no-padding">
					<ion-text color="dark">
						<h4>Indian Channels:</h4>
					</ion-text>
				</ion-item-divider>
				<div class="thumnails">
					<div class="list-thumbnail">
						<div class="img-thumb" *ngFor="let c of indiaChannel" (click)="goToChannel(c.url)">
							<img src="{{c.logo}}" class="tv-logo">
						</div>
					</div>
				</div>
			</ion-col>
		</ion-row>

		<ion-row>

			<ion-col>

				<ion-item-divider class="ion-no-padding">
					<ion-text color="dark">
						<h4>Sports Channels:</h4>
					</ion-text>
				</ion-item-divider>
				<div class="thumnails">
					<div class="list-thumbnail">
						<div class="img-thumb" *ngFor="let c of sportsChannel" (click)="goToChannel(c.url)">
							<img src="{{c.logo}}" class="tv-logo">
						</div>
					</div>
				</div>

			</ion-col>

		</ion-row>
	</ion-grid>
	<!--   <ion-grid>

    <ion-row>
  
      <ion-col size="6" size-md="4" size-lg="2" size-xl="1" *ngFor="let c of tv_newspapers" (click)=goToChannel(c.url)>
  
        <ion-card *ngIf="showSegment==1">
          <img src="{{c.logo}}" class="tv-logo">
        </ion-card>
  
        <ion-card *ngIf="showSegment==2">
          <img src="{{c.logo}}" class="tv-logo" alt="{{c.alt}}">
        </ion-card>
  
        <ion-card *ngIf="showSegment==3">
          <img src="{{c.logo}}" class="tv-logo" alt="{{c.alt}}">
        </ion-card>
  
      </ion-col>
  
    </ion-row>

  </ion-grid> -->


</ion-content>
