ion-content{
  // --background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  --background: linear-gradient(to top, white 0%, #dfe9f3 100%);
}

.thumnails{
  overflow-x: scroll;
  overflow-y: hidden;
}

.img-thumb{
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  margin:0 0.5em 0 0; 
}
.list-thumbnail{
	height: 100%;
	white-space: nowrap;

}

.newpaperLogo{
	margin-top: 0.5em;
}

.tv-logo{
	margin: 0 auto;
	height: 6em;
}

.left-padding{
  padding-left: 5px;
}