<ion-header>
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-button>
				<img height="30" src="../../../assets/icon/icon.png" />
			</ion-button>
		</ion-buttons>
		<ion-title>আমাদের টিভি</ion-title>
	</ion-toolbar>
	<ion-toolbar id="segment" *ngIf="showUpdateButton==1">
		<ion-button color="danger" expand="full" (click)=getUpdate()>এখনই আপডেট করুন</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">


	<ion-grid class="ion-no-padding">

		<ion-row class="ion-no-padding">
			<ion-col class="ion-no-padding">
				<div class="thumnails">
					<div class="list-thumbnail">
						<div class="img-thumb" *ngFor="let c of featuredGang"  (click)="openModal(c)">
							<img src="{{c.featuredLogo}}" class="tv-logo">
						</div>
					</div>
				</div>
			</ion-col>
		</ion-row>
<!-- 		<ion-row class="ion-no-padding">
			<ion-col *ngFor="let f of featuredGang" size="6">
				<ion-card (click)=openModal(f)>
					<img height="70" src="{{f.featuredLogo}}" />
				</ion-card>
			</ion-col>
		</ion-row> -->

		<ion-row *ngFor="let g of channelsGang">
			<ion-col class="ion-no-padding">
				<ion-text color="dark">
					<h5 class="left-padding">{{g.channelCategory}}:</h5>
				</ion-text>
				<div class="thumnails">
					<div class="list-thumbnail">
						<div class="img-thumb" *ngFor="let c of g.channels" 
						(click)="goToChannel(c.url,g.outside,c.videoPlayer)">
							<img src="{{c.logo}}" class="tv-logo">
						</div>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>