<ion-header>
  <ion-toolbar id="topToolbar">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <img src="../../../assets/img/logo-200.png" height="35">
    </ion-buttons>

    <ion-title>
      <ion-label color="light">
        <p><b>{{nowTime}}</b></p>
      </ion-label>
    </ion-title>

  </ion-toolbar>
</ion-header>

<!-- Default Segment -->
  <ion-toolbar id="segmentToolbar" (pan)="panToFirstSeg($event)">
      <ion-segment no-padding value="home" [(ngModel)]="category" scrollable id="segment" > 
        <ion-segment-button no-padding value="home" (click)="home()" id="0">
          <ion-icon class="big" src="../../../assets/img/menu-icons/prothom-pata.svg"></ion-icon>
          <ion-label color="dark my-custom">প্রথম পাতা</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="videos" (click)="videos()" id="1">
          <ion-icon class="big" src="../../../assets/img/menu-icons/video.svg"></ion-icon>
          <ion-label color="dark">ভিডিও নিউজ</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="bangladesh" (click)="bangladesh()" id="2">
          <ion-icon class="big" src="../../../assets/img/menu-icons/bangladesh.svg"></ion-icon>
          <ion-label color="dark">বাংলাদেশ</ion-label>
        </ion-segment-button>
         <ion-segment-button no-padding value="politics" (click)="politics()" id="3">
          <ion-icon class="big" src="../../../assets/img/menu-icons/politics.svg"></ion-icon>
          <ion-label color="dark">রাজনীতি</ion-label>
        </ion-segment-button>  
        <ion-segment-button no-padding value="international" (click)="international()" id="4">
          <ion-icon class="big" src="../../../assets/img/menu-icons/international.svg"></ion-icon>
          <ion-label color="dark">আন্তর্জাতিক</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="economy" (click)="economy()" id="5">
          <ion-icon class="big" src="../../../assets/img/menu-icons/economy.svg"></ion-icon>
          <ion-label color="dark">অর্থনীতি</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="share" (click)="share()" id="6">
          <ion-icon class="big" src="../../../assets/img/menu-icons/others.svg"></ion-icon>
          <ion-label color="dark">পুঁজিবাজার</ion-label>
        </ion-segment-button>   
        <ion-segment-button no-padding value="sports" (click)="sports()" id="7">
          <ion-icon class="big" src="../../../assets/img/menu-icons/game.svg"></ion-icon>
          <ion-label color="dark">খেলা</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="entertainment" (click)="entertainment()" id="8">
          <ion-icon class="big" src="../../../assets/img/menu-icons/buzz.svg"></ion-icon>
          <ion-label color="dark">বিনোদন</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="tech" (click)="tech()" id="9">
          <ion-icon class="big" src="../../../assets/img/menu-icons/science.svg"></ion-icon>
          <ion-label color="dark">বিজ্ঞান-প্রযুক্তি</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="lifeStyle" (click)="lifeStyle()" id="10">
          <ion-icon class="big" src="../../../assets/img/menu-icons/lifestyle.svg"></ion-icon>
          <ion-label color="dark">জীবনযাপন</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="education" (click)="education()" id="11">
          <ion-icon class="big" src="../../../assets/img/menu-icons/education.svg"></ion-icon>
          <ion-label color="dark">শিক্ষা</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="crime" (click)="crime()" id="12">
          <ion-icon class="big" src="../../../assets/img/menu-icons/crime.svg"></ion-icon>
          <ion-label color="dark">আপরাধ জগত</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="culture" (click)="culture()" id="13">
          <ion-icon class="big" src="../../../assets/img/menu-icons/literature.svg"></ion-icon>
          <ion-label color="dark">শিল্প-সাহিত্য</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="vivid" (click)="vivid()" id="14">
          <ion-icon class="big" src="../../../assets/img/menu-icons/bichitro.svg"></ion-icon>
          <ion-label color="dark">বিচিত্র</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="business" (click)="business()" id="15">
          <ion-icon class="big" src="../../../assets/img/menu-icons/business.svg"></ion-icon>
          <ion-label color="dark">ব্যবসা-বাণিজ্য</ion-label>
        </ion-segment-button>
        <ion-segment-button no-padding value="horoscope" (click)="horoscope()" id="16">
          <ion-icon class="big" src="../../../assets/img/menu-icons/horoscope.svg"></ion-icon>
          <ion-label color="dark">রাশিফল</ion-label>
        </ion-segment-button>



        <hr class="hrs">
      </ion-segment>
  </ion-toolbar>



<ion-content (swipeleft)="swipeLeftPress($event)" (swiperight)="swipeRightPress($event)" class="fast" id="ionContent">
<!--   <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="fabButton" 
    (panmove)="dragFab($event)" > -->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" id="fabButton" 
      (touchmove)="fabMove($event,1)" (touchend)="fabMove($event,0)">
    <ion-fab-button color="danger" [routerDirection]="'root'" routerLink="/livetv">
     <!-- <ion-fab-button color="danger">  -->
      <img src="../../../assets/img/news-source-icons/television.png" style="max-width: 3em;">
    </ion-fab-button>
<!-- //////////////////////// -->
<!--       <ion-fab-list side="top">
          <ion-fab-button color="light" (click)='fabmove("left")'>
            <ion-icon name="arrow-round-back"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)='fabmove("right")'>
            <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="danger" [routerDirection]="'root'" routerLink="/livetv">
           <b>TV</b>
          </ion-fab-button>
        </ion-fab-list> -->
<!-- /////////////////////////    -->
  </ion-fab>
  <ion-refresher *ngIf=swipe_pull slot="fixed" (ionRefresh)="doRefresh($event,category)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Home section -->
  <div scrollable>
    <ion-list *ngIf="homeVisibleFlag">
      <ion-card id="weatherCard" *ngIf="weatherFlag">
        <ion-card-header>
          <ion-card-subtitle>
            <!--Basic: auto-select the icon based on the platform -->
          </ion-card-subtitle>
          <ion-grid>
            <ion-row>
              <ion-col size="8" style="padding: 0;">
              <img src={{tharmoIcon}} style="width: 27%;float: left;margin-right: -9px;margin-top: 3%;">
                <span class="weatherDegree" *ngIf="temp">{{temp}}<sup>০</sup>C</span>
                <p id="weatherCardText" style="margin-top:-0.5%;color: #f4f5f8;">Feels Like: <span>{{feelsLike}}</span><sup>0</sup> C</p>

              </ion-col>
              <ion-col class="weatherSummery" style="margin-left: 0;padding: 0" *ngIf="weatherIconUrl">
                <img class="weatherIcon" src={{weatherIconUrl}} alt="weather icon">
                <p id="weatherCardText">{{description}}</p>
                <p id="weatherCardText">humidity <span *ngIf="humidity">{{humidity}}%</span></p>
                <p id="weatherCardText">Wind: <span *ngIf="wind">{{wind}}</span> Mph</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      </ion-card>
      <!-- If location service is not enabled -->
      <ion-card *ngIf="weatherFlag==false">
        <ion-card-header>
          <ion-card-subtitle>
            <p>Please check your location service for weather report</p>
            <ion-button size="small" color="dark" (click)="openLocation('location')">Open Location</ion-button>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>


      <!-- horizontal scroller -->
      <div class="container ">
        <h1 class="suggestedNews"> সর্বশেষ খবর</h1>
        <div class="scroll" scrollX="true">
          <span *ngFor="let result of allPosts">
            <ion-card class=" horizontalScroll" (click)=goToSource(result.link)>
              <ion-card-header>
                <ion-badge>
                  <img *ngIf="result.categories['0']=='14'" class="sourceLogo"
                    src="/assets/img/news-source-icons/bdnews24-logo.png" />
                  <img *ngIf="result.categories['0']=='17'" class="sourceLogo"
                    src="/assets/img/news-source-icons/jugantor.png" />
                  <img *ngIf="result.categories['0']=='15'" class="sourceLogo"
                    src="/assets/img/news-source-icons/prothom-alo.png" />
                  <img *ngIf="result.categories['0']=='76'" class="sourceLogo"
                    src="/assets/img/news-source-icons/somokal.png" />
                  <img *ngIf="result.categories['0']=='262'" class="sourceLogo"
                    src="/assets/img/news-source-icons/tt-logo.png" />
                  <img *ngIf="result.categories['0']=='333'" class="sourceLogo"
                    src="/assets/img/news-source-icons/Bangla_Tribune_logo.png" />
                  <img *ngIf="result.categories['0']=='358'" class="sourceLogo"
                    src="/assets/img/news-source-icons/bbc.png" />
                  <img *ngIf="result.categories['0']=='388'" class="sourceLogo"
                    src="/assets/img/news-source-icons/daily-star.svg" />
                  <img *ngIf="result.categories['0']=='369'" class="sourceLogo"
                    src="/assets/img/news-source-icons/cnn.png" />
                  <img *ngIf="result.categories['0']=='420'" class="sourceLogo"
                    src="/assets/img/news-source-icons/The_Washington_Post_logo_newspaper.png" />
                  <img *ngIf="result.categories['0']=='417'" class="sourceLogo"
                    src="/assets/img/news-source-icons/banglanews_logo.jpg" />
                </ion-badge>
                <div class="newsRecommendedImg">
                  <img *ngIf="result.fimg_url;" src="{{result.fimg_url}}" />
                  <img *ngIf="!result.fimg_url" src="assets/img/news_fallback.png" />
                </div>

                <div style="position:absolute;margin-top:10px;">
                  <ion-card-subtitle class="newsRecommended" color="dark" *ngIf="result.title.rendered"
                    [innerHtml]="result.title.rendered">
                  </ion-card-subtitle>
                </div>

              </ion-card-header>
              <div class="newsTags">
                <div class="publishedOn" *ngIf="result.date">
                  <p style="margin:auto;">
                    <ion-icon name="md-clock"></ion-icon> {{result.date}}
                  </p>
                </div>
              </div>

            </ion-card>
          </span>
        </div>
      </div>
      <div class="container ">
        <h1 class="suggestedNews">সারাদিনের খবর</h1>
        <!-- ionic grid starts -->
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let result of allPosts" class="callOfTodaysNews">
              <ion-card class="newsOfToday" (click)=goToSource(result.link) style="width:100%;height:17em;margin:auto;">
                <ion-card-header class="cardNewsHeader">
                  <ion-badge class="sourceBadge">
                    <img *ngIf="result.categories['0']=='14'" class="sourceLogo"
                      src="/assets/img/news-source-icons/bdnews24-logo.png" />
                    <img *ngIf="result.categories['0']=='17'" class="sourceLogo"
                      src="/assets/img/news-source-icons/jugantor.png" />
                    <img *ngIf="result.categories['0']=='15'" class="sourceLogo"
                      src="/assets/img/news-source-icons/prothom-alo.png" />
                    <img *ngIf="result.categories['0']=='76'" class="sourceLogo"
                      src="/assets/img/news-source-icons/somokal.png" />
                    <img *ngIf="result.categories['0']=='262'" class="sourceLogo"
                      src="/assets/img/news-source-icons/tt-logo.png" />
                    <img *ngIf="result.categories['0']=='333'" class="sourceLogo"
                      src="/assets/img/news-source-icons/Bangla_Tribune_logo.png" />
                    <img *ngIf="result.categories['0']=='358'" class="sourceLogo"
                      src="/assets/img/news-source-icons/bbc.png" />
                    <img *ngIf="result.categories['0']=='388'" class="sourceLogo"
                      src="/assets/img/news-source-icons/daily-star.svg" />
                    <img *ngIf="result.categories['0']=='369'" class="sourceLogo"
                      src="/assets/img/news-source-icons/cnn.png" />
                    <img *ngIf="result.categories['0']=='420'" class="sourceLogo"
                      src="/assets/img/news-source-icons/The_Washington_Post_logo_newspaper.png" />
                    <img *ngIf="result.categories['0']=='417'" class="sourceLogo"
                      src="/assets/img/news-source-icons/banglanews_logo.jpg" />
                  </ion-badge>
                  <img *ngIf="result.fimg_url;" src="{{result.fimg_url}}" style="width: 100%" />
                  <img *ngIf="!result.fimg_url" src="assets/img/news_fallback.png" style="width: 100%" />


                  <ion-card-subtitle color="dark" *ngIf="result.title.rendered" [innerHtml]="result.title.rendered">


                  </ion-card-subtitle>


                  <!-- <ion-card-title>Card Title</ion-card-title> -->
                </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-infinite-scroll threshold="85%" (ionInfinite)="loadAllNews($event)">
              <ion-infinite-scroll-content loadingSpinner="bubbles">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-row>
        </ion-grid>
      </div>

    </ion-list>
    <!-- Home ends -->
    <!-- Videos news -->
    <ion-list *ngIf="showVideoNews">
      <div *ngFor="let result of jamunaTvYoutube">
        <ion-card (click)=goToYoutube(result.id.videoId)>
          <ion-card-header>
            <!-- <ion-badge>ভিডিও নিউজ</ion-badge> -->
            <img *ngIf="result.snippet.thumbnails" src="{{result.snippet.thumbnails.high.url}}" />
            <img *ngIf="!result.snippet.thumbnails" src="assets/img/news_fallback.png" />
            <ion-card-subtitle color="dark" class="sectionTitle" *ngIf="result.snippet.title" 
            [innerHtml]="result.snippet.title">
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-list>
    <!-- Bangladesh news -->
    <ion-list *ngIf="showOtherSegments">
      <div *ngFor="let result of mainNewsArray">
        <ion-card (click)=goToSource(result.link)>
          <ion-card-header>
            <!--  <ion-badge>বাংলাদেশ</ion-badge> -->
            <img *ngIf="result.fimg_url;" src="{{result.fimg_url}}" />
            <img *ngIf="!result.fimg_url" src="assets/img/news_fallback.png" />
            <ion-card-subtitle color="dark" class="sectionTitle" *ngIf="result.title.rendered"
              [innerHtml]="result.title.rendered">
            </ion-card-subtitle>
          </ion-card-header>
          <img *ngIf="result.categories['0']=='14'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/bdnews24-logo.png" />
          <img *ngIf="result.categories['0']=='17'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/jugantor.png" />
          <img *ngIf="result.categories['0']=='15'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/prothom-alo.png" />
          <img *ngIf="result.categories['0']=='76'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/somokal.png" />
          <img *ngIf="result.categories['0']=='262'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/tt-logo.png" />
          <img *ngIf="result.categories['0']=='333'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/Bangla_Tribune_logo.png" />
          <img *ngIf="result.categories['0']=='358'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/bbc.png" />
          <img *ngIf="result.categories['0']=='388'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/daily-star.svg" />
          <img *ngIf="result.categories['0']=='369'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/cnn.png" />
          <img *ngIf="result.categories['0']=='420'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/The_Washington_Post_logo_newspaper.png" />
          <img *ngIf="result.categories['0']=='417'" class="sourceLogoAllCategory"
            src="/assets/img/news-source-icons/banglanews_logo.jpg" />
        </ion-card>
      </div>
      <ion-infinite-scroll threshold="85%" (ionInfinite)="loadAllBangladeshNews($event,category)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>
  </div>
</ion-content>